<li class="nav-item">
  <%= link_to "МоЇ візити до лікарів", appointments_path, class: "nav-link" %>
</li>
<div class="login-navbar">
    <%= link_to "Профіль пацієнта: #{current_user.name}", edit_user_registration_path, class: "nav-link" %>
</div>
<div class="login-navbar-button">
  <%= button_to "Вийти", destroy_user_session_path, method: 'delete', class: 'btn btn-danger' %>
</div>