<%if current_user.present? %>
<%name = current_user.name%>
<%elsif current_doctor.present? %>
<%name = current_doctor.name%>
<%else %>
<%name = 'Stranger'%>
<%end%>

<h1>Welcome, <%= name %> </h1>
<%if current_doctor.present?%>
<a href="appointments/index">List of my patients</a>
<%elsif current_user.present?%>
<a href = "doctors/index">Our doctors</a><br/>
<a href="/appointments/index">My appointments</a><br/>
<a href="/comments/index">My comments</a>
<%else%>
<p>Choose who you are:</p>
<A HREF = "/users/sign_in">User</A>
<br>
<A HREF = "/doctors/sign_in">Doctor</A>

<h1>Our doctors</h1>
<%@doctors.each do |doctor|%>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= doctor.name %></h5>
    <p class="card-text">Category: <%= doctor.category.present? ? doctor.category.name : "-" %></p>
  </div>
</div>
<%end%>
<%end%>