<div class="jumbotron">
    <h1 class="display-4">Про нас</h1>
    <p class="lead">IClinic - провідна компанія у сфері медичних послуг.</p>
    <hr class="my-4">
    <p>Ми надаємо широкий спектр медичних послуг, включаючи консультації лікарів, лабораторні дослідження, діагностику та багато іншого.</p>
    <p>Наша мета - забезпечити нашим пацієнтам якісне та доступне медичне обслуговування.</p>
    <a class="btn btn-primary btn-lg" href="<%=contact_us_path%>" role="button">Зв'язатися з нами</a>
  </div>