<div class="container">
    <h1>Контакти</h1>
    <p>Зв'яжіться з нами за наступними контактами:</p>
    <ul>
      <li>Телефон: +380000000000</li>
      <li>Email: info@tototototototo.com</li>
      <li>Адреса: Вулиця Фантастична, 10, Харків, Україна</li>
    </ul>
  </div>
