<div style="text-align: center; margin-top: 30px">
    <h1>Оберіть хто ви, щоб увійти:</h1>
    <%= button_to 'Пацієнт', new_user_session_path, method: :get, class: 'btn btn-primary btn-lg', style: 'margin-top: 20px'%>
    <%= button_to 'Лікар', new_doctor_session_path, method: :get, class: 'btn btn-primary btn-lg', style: 'margin-top: 40px'%>
</div>