<style>
  .doctor-page {
    margin-top: 20px;
  }

  .doctor-avatar {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
</style>


<div class="container doctor-page">
  <div class="row">
  <% if current_doctor %>
        <%= render 'shared/appointments/doctor_appoinment' %>
  <% elsif current_user %>
        <%= render 'shared/appointments/user_appointment' %>
  <% end %>
  </div>
</div>